<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">


    <!--        <servlet>-->
<!--            <servlet-name>search_flight_by_id</servlet-name>-->
<!--            <servlet-class>com.sami.airline_management_system.servlet.search_flight_by_id</servlet-class>-->
<!--        </servlet>-->
<!--        <servlet>-->
<!--            <servlet-name>search_flight_by_fno</servlet-name>-->
<!--            <servlet-class>com.sami.airline_management_system.servlet.search_flight_by_fno</servlet-class>-->
<!--        </servlet>-->
<!--&lt;!&ndash;        <servlet>&ndash;&gt;-->
<!--&lt;!&ndash;            <servlet-name>search_flight_by_fno</servlet-name>&ndash;&gt;-->
<!--&lt;!&ndash;            <servlet-class>com.sami.airline_management_system.servlet.search_flight_by_fno</servlet-class>&ndash;&gt;-->
<!--&lt;!&ndash;        </servlet>&ndash;&gt;-->
<!--        <servlet>-->
<!--            <servlet-name>search_flight_by_citys</servlet-name>-->
<!--            <servlet-class>com.sami.airline_management_system.servlet.search_flight_by_citys</servlet-class>-->
<!--        </servlet>-->
<!--        <servlet>-->
<!--            <servlet-name>user_booking_servelet</servlet-name>-->
<!--            <servlet-class>com.sami.airline_management_system.servlet.user_booking_final_check</servlet-class>-->
<!--        </servlet>-->
<!--        <servlet>-->
<!--            <servlet-name>user_booking_servelet1</servlet-name>-->
<!--            <servlet-class>com.sami.airline_management_system.servlet.user_booking_final_check</servlet-class>-->
<!--        </servlet>-->
<!--        <servlet>-->
<!--            <servlet-name>user_booking_validation_check</servlet-name>-->
<!--            <servlet-class>com.sami.airline_management_system.servlet.user_booking_validation_check</servlet-class>-->
<!--        </servlet>-->
<!--        <servlet>-->
<!--            <servlet-name>user_booking_final_check</servlet-name>-->
<!--            <servlet-class>com.sami.airline_management_system.servlet.user_booking_final_check</servlet-class>-->
<!--        </servlet>-->
<!--&lt;!&ndash;        <servlet>&ndash;&gt;-->
<!--&lt;!&ndash;            <servlet-name>GeneratePDF</servlet-name>&ndash;&gt;-->
<!--&lt;!&ndash;            <servlet-class>com.sami.airline_management_system.Servelet.GeneratePDF</servlet-class>&ndash;&gt;-->
<!--&lt;!&ndash;        </servlet>&ndash;&gt;-->
<!--        <servlet>-->
<!--            <servlet-name>Cancellation</servlet-name>-->
<!--            <servlet-class>com.sami.airline_management_system.servlet.Cancellation</servlet-class>-->
<!--        </servlet>-->
<!--        <servlet>-->
<!--            <servlet-name>search_flight_by_fname</servlet-name>-->
<!--            <servlet-class>com.sami.airline_management_system.servlet.search_flight_by_fname</servlet-class>-->
<!--        </servlet>-->
<!--        <servlet>-->
<!--            <servlet-name>add_coupon</servlet-name>-->
<!--            <servlet-class>com.sami.airline_management_system.servlet.add_coupon</servlet-class>-->
<!--        </servlet>-->
<!--        <servlet>-->
<!--            <servlet-name>search_coupon</servlet-name>-->
<!--            <servlet-class>com.sami.airline_management_system.servlet.search_coupon</servlet-class>-->
<!--        </servlet>-->
<!--        <servlet>-->
<!--            <servlet-name>search_coupon_ds</servlet-name>-->
<!--            <servlet-class>com.sami.airline_management_system.servlet.search_coupon_ds</servlet-class>-->
<!--        </servlet>-->
<!--        <servlet>-->
<!--            <servlet-name>search_coupon_all</servlet-name>-->
<!--            <servlet-class>com.sami.airline_management_system.servlet.search_coupon_all</servlet-class>-->
<!--        </servlet>-->
<!--        <servlet>-->
<!--            <servlet-name>dlt_coupon</servlet-name>-->
<!--            <servlet-class>com.sami.airline_management_system.servlet.dlt_coupon</servlet-class>-->
<!--        </servlet>-->
<!--        <servlet>-->
<!--            <servlet-name>search_flight_by_citys_u</servlet-name>-->
<!--            <servlet-class>com.sami.airline_management_system.servlet.search_flight_by_citys_u</servlet-class>-->
<!--        </servlet>-->
<!--        <servlet>-->
<!--            <servlet-name>search_flight_by_citys_a</servlet-name>-->
<!--            <servlet-class>com.sami.airline_management_system.servlet.search_flight_by_citys_a</servlet-class>-->
<!--        </servlet>-->
<!--        <servlet>-->
<!--            <servlet-name>search_flight_by_fname_u</servlet-name>-->
<!--            <servlet-class>com.sami.airline_management_system.servlet.search_flight_by_fname_u</servlet-class>-->
<!--        </servlet>-->
<!--        <servlet>-->
<!--            <servlet-name>search_flight_by_fname_a</servlet-name>-->
<!--            <servlet-class>com.sami.airline_management_system.servlet.search_flight_by_fname_a</servlet-class>-->
<!--        </servlet>-->
<!--        <servlet>-->
<!--            <servlet-name>search_flight_by_fno_a</servlet-name>-->
<!--            <servlet-class>com.sami.airline_management_system.servlet.search_flight_by_fno_a</servlet-class>-->
<!--        </servlet>-->
<!--        <servlet>-->
<!--            <servlet-name>search_flight_by_fno_u</servlet-name>-->
<!--            <servlet-class>com.sami.airline_management_system.servlet.search_flight_by_fno_u</servlet-class>-->
<!--        </servlet>-->
<!--        <servlet>-->
<!--            <servlet-name>search_flight_by_id_a</servlet-name>-->
<!--            <servlet-class>com.sami.airline_management_system.servlet.search_flight_by_id_a</servlet-class>-->
<!--        </servlet>-->
<!--        <servlet>-->
<!--            <servlet-name>search_flight_by_id_u</servlet-name>-->
<!--            <servlet-class>com.sami.airline_management_system.servlet.search_flight_by_id_u</servlet-class>-->
<!--        </servlet>-->
<!--        <servlet>-->
<!--            <servlet-name>registration</servlet-name>-->
<!--            <servlet-class>com.sami.airline_management_system.servlet.registration</servlet-class>-->
<!--        </servlet>-->
<!--        <servlet>-->
<!--            <servlet-name>contact_u</servlet-name>-->
<!--            <servlet-class>com.sami.airline_management_system.servlet.contact_u</servlet-class>-->
<!--        </servlet>-->
<!--        <servlet>-->
<!--            <servlet-name>GeneratePDF_from_PNR</servlet-name>-->
<!--            <servlet-class>com.sami.airline_management_system.Servelet.GeneratePDF_from_PNR</servlet-class>-->
<!--        </servlet>-->
<!--        <servlet>-->
<!--            <servlet-name>Newsletter</servlet-name>-->
<!--            <servlet-class>com.sami.airline_management_system.servlet.Newsletter_res_show</servlet-class>-->
<!--        </servlet>-->
<!--        <servlet>-->
<!--            <servlet-name>Newsletter_srv</servlet-name>-->
<!--            <servlet-class>com.sami.airline_management_system.servlet.Newsletter_srv</servlet-class>-->
<!--        </servlet>-->
<!--        <servlet>-->
<!--            <servlet-name>Responses</servlet-name>-->
<!--            <servlet-class>com.sami.airline_management_system.servlet.Responses</servlet-class>-->
<!--        </servlet>-->
<!--        <servlet>-->
<!--            <servlet-name>Newsletter_res_show</servlet-name>-->
<!--            <servlet-class>com.sami.airline_management_system.servlet.Newsletter_res_show</servlet-class>-->
<!--        </servlet>-->
<!--        <servlet-mapping>-->
<!--            <servlet-name>search_flight_by_id</servlet-name>-->
<!--            <url-pattern>/search_flight_by_id</url-pattern>-->
<!--        </servlet-mapping>-->
<!--        <servlet-mapping>-->
<!--            <servlet-name>search_flight_by_no</servlet-name>-->
<!--            <url-pattern>/search_flight_by_no</url-pattern>-->
<!--        </servlet-mapping>-->
<!--        <servlet-mapping>-->
<!--            <servlet-name>search_flight_by_fno</servlet-name>-->
<!--            <url-pattern>/search_flight_by_fno</url-pattern>-->
<!--        </servlet-mapping>-->
<!--        <servlet-mapping>-->
<!--            <servlet-name>search_flight_by_citys</servlet-name>-->
<!--            <url-pattern>/search_flight_by_citys</url-pattern>-->
<!--        </servlet-mapping>-->
<!--        <servlet-mapping>-->
<!--            <servlet-name>user_booking_servelet</servlet-name>-->
<!--            <url-pattern>/user_booking_servelet</url-pattern>-->
<!--        </servlet-mapping>-->
<!--        <servlet-mapping>-->
<!--            <servlet-name>user_booking_servelet1</servlet-name>-->
<!--            <url-pattern>/user_booking_servelet1</url-pattern>-->
<!--        </servlet-mapping>-->
<!--        <servlet-mapping>-->
<!--            <servlet-name>user_booking_validation_check</servlet-name>-->
<!--            <url-pattern>/user_booking_validation_check</url-pattern>-->
<!--        </servlet-mapping>-->
<!--        <servlet-mapping>-->
<!--            <servlet-name>user_booking_final_check</servlet-name>-->
<!--            <url-pattern>/user_booking_final_check</url-pattern>-->
<!--        </servlet-mapping>-->
<!--&lt;!&ndash;        <servlet-mapping>&ndash;&gt;-->
<!--&lt;!&ndash;            <servlet-name>GeneratePDF</servlet-name>&ndash;&gt;-->
<!--&lt;!&ndash;            <url-pattern>/GeneratePDF</url-pattern>&ndash;&gt;-->
<!--&lt;!&ndash;        </servlet-mapping>&ndash;&gt;-->
<!--        <servlet-mapping>-->
<!--            <servlet-name>Cancellation</servlet-name>-->
<!--            <url-pattern>/Cancellation</url-pattern>-->
<!--        </servlet-mapping>-->
<!--        <servlet-mapping>-->
<!--            <servlet-name>search_flight_by_fname</servlet-name>-->
<!--            <url-pattern>/search_flight_by_fname</url-pattern>-->
<!--        </servlet-mapping>-->
<!--        <servlet-mapping>-->
<!--            <servlet-name>add_coupon</servlet-name>-->
<!--            <url-pattern>/add_coupon</url-pattern>-->
<!--        </servlet-mapping>-->
<!--        <servlet-mapping>-->
<!--            <servlet-name>search_coupon</servlet-name>-->
<!--            <url-pattern>/search_coupon</url-pattern>-->
<!--        </servlet-mapping>-->
<!--        <servlet-mapping>-->
<!--            <servlet-name>search_coupon_ds</servlet-name>-->
<!--            <url-pattern>/search_coupon_ds</url-pattern>-->
<!--        </servlet-mapping>-->
<!--        <servlet-mapping>-->
<!--            <servlet-name>search_coupon_all</servlet-name>-->
<!--            <url-pattern>/search_coupon_all</url-pattern>-->
<!--        </servlet-mapping>-->
<!--        <servlet-mapping>-->
<!--            <servlet-name>dlt_coupon</servlet-name>-->
<!--            <url-pattern>/dlt_coupon</url-pattern>-->
<!--        </servlet-mapping>-->
<!--        <servlet-mapping>-->
<!--            <servlet-name>search_flight_by_citys_u</servlet-name>-->
<!--            <url-pattern>/search_flight_by_citys_u</url-pattern>-->
<!--        </servlet-mapping>-->
<!--        <servlet-mapping>-->
<!--            <servlet-name>search_flight_by_citys_a</servlet-name>-->
<!--            <url-pattern>/search_flight_by_citys_a</url-pattern>-->
<!--        </servlet-mapping>-->
<!--        <servlet-mapping>-->
<!--            <servlet-name>search_flight_by_fname_u</servlet-name>-->
<!--            <url-pattern>/search_flight_by_fname_u</url-pattern>-->
<!--        </servlet-mapping>-->
<!--        <servlet-mapping>-->
<!--            <servlet-name>search_flight_by_fname_a</servlet-name>-->
<!--            <url-pattern>/search_flight_by_fname_a</url-pattern>-->
<!--        </servlet-mapping>-->
<!--        <servlet-mapping>-->
<!--            <servlet-name>search_flight_by_fno_a</servlet-name>-->
<!--            <url-pattern>/search_flight_by_fno_a</url-pattern>-->
<!--        </servlet-mapping>-->
<!--        <servlet-mapping>-->
<!--            <servlet-name>search_flight_by_fno_u</servlet-name>-->
<!--            <url-pattern>/search_flight_by_fno_u</url-pattern>-->
<!--        </servlet-mapping>-->
<!--        <servlet-mapping>-->
<!--            <servlet-name>search_flight_by_id_a</servlet-name>-->
<!--            <url-pattern>/search_flight_by_id_a</url-pattern>-->
<!--        </servlet-mapping>-->
<!--        <servlet-mapping>-->
<!--            <servlet-name>search_flight_by_id_u</servlet-name>-->
<!--            <url-pattern>/search_flight_by_id_u</url-pattern>-->
<!--        </servlet-mapping>-->
<!--        <servlet-mapping>-->
<!--            <servlet-name>registration</servlet-name>-->
<!--            <url-pattern>/registration</url-pattern>-->
<!--        </servlet-mapping>-->
<!--        <servlet-mapping>-->
<!--            <servlet-name>contact_u</servlet-name>-->
<!--            <url-pattern>/contact_u</url-pattern>-->
<!--        </servlet-mapping>-->
<!--        <servlet-mapping>-->
<!--            <servlet-name>GeneratePDF_from_PNR</servlet-name>-->
<!--            <url-pattern>/GeneratePDF_from_PNR</url-pattern>-->
<!--        </servlet-mapping>-->
<!--        <servlet-mapping>-->
<!--            <servlet-name>Newsletter</servlet-name>-->
<!--            <url-pattern>/Newsletter</url-pattern>-->
<!--        </servlet-mapping>-->
<!--        <servlet-mapping>-->
<!--            <servlet-name>Newsletter_srv</servlet-name>-->
<!--            <url-pattern>/Newsletter_srv</url-pattern>-->
<!--        </servlet-mapping>-->
<!--        <servlet-mapping>-->
<!--            <servlet-name>Responses</servlet-name>-->
<!--            <url-pattern>/Responses</url-pattern>-->
<!--        </servlet-mapping>-->
<!--        <servlet-mapping>-->
<!--            <servlet-name>Newsletter_res_show</servlet-name>-->
<!--            <url-pattern>/Newsletter_res_show</url-pattern>-->
<!--        </servlet-mapping>-->
        <session-config>
            <session-timeout> 30 </session-timeout>
        </session-config>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/img/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/js/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/css/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/scss/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/lib/*</url-pattern>
    </servlet-mapping>
</web-app>